
.about {
  padding: 40px 20px;
  color: var(--text);
  text-align: center;
  min-height: 100vh;
  background-color: var(--background);

}

.about h1 {
  font-family:  'VT323', monospace;
  font-size: 3rem;
  font-weight: bold;
  color: var(--accent);
  text-shadow: 0 0 10px var(--accent);
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  padding: 15px 30px; 
  border-radius: 10px; 
  display: inline-block; 
  backdrop-filter: blur(5px); 
  border: 1px solid rgba(252, 245, 245, 0.248);  
}

.about-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.about-card {
  background-color: var(--card-bg);
  color: var(--text);
  border-radius: 15px;
  padding: 25px;
  text-align: left;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
  font-family: 'Courier New', monospace;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--accent);
  width: 300px;
}

.about-card:hover {
  transform: translateY(-8px);
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.about-card h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: var(--text);
  position: relative;
}

.about-card h2::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 3px;
  background-color: var(--accent);
}

.about-card p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 15px;
}

.skills-grid h3 {
  font-size: 1.2rem;
  color: var(--text);
  margin-bottom: 10px;
}

.skills-grid ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.skills-grid ul li {
  font-size: 1rem;
  margin-bottom: 8px;
}

.sticker {
  position: absolute;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
}

.top-left {
  top: 10px;
  right: 10px;
}

.top-right {
  top: 10px;
  right: 10px;
}

.bottom-left {
  bottom: 10px;
  left: 10px;
}

.bottom-right {
  bottom: 10px;
  right: 10px;
}

.sticker:hover {
  transform: rotate(15deg) scale(1.2);
}

@media (max-width: 768px) {
  .about h1 {
    font-size: 2.5rem;
  }

  .about-cards {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .skills-grid {
    grid-template-columns: 1fr;
  }

  .about-card {
    width: 100%;
    padding: 20px;
  }

  .sticker {
    font-size: 1.5rem; 
  }
}