:root {
  --background-light: #ffeef6;
  --text-light: #4a4a4a;
  --primary-light: #ffb6c1;
  --accent-light: hsl(284, 100%, 79%); 

  --background-dark: #1B2430;
  --text-dark: #ffffff;
  --primary-dark: #ff79c6;
  --accent-dark: #ffd1dc; 
}

[data-theme="light"] {
  --background: var(--background-light);
  --text: var(--text-light);
  --primary: var(--primary-light);
  --accent: var(--accent-light);
}

[data-theme="dark"] {
  --background: var(--background-dark);
  --text: var(--text-dark);
  --primary: var(--primary-dark);
  --accent: var(--accent-dark);
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: all 0.3s ease-in-out;
}

